#stacyquotes_Stylists-text{
   /* font-size: 1.2em;
    font-family: verdana;
    line-height: 150%;
    background:url("_img/newones/rightedge/stacy-profile.JPG") no-repeat scroll bottom right transparent;
    height: 370px;
    width: 260px;*/
    }