#stacyquotes-text{
    /*background:url("_img/newones/rightedge/stacy-hands-hips.JPG") no-repeat scroll bottom right transparent;
    height: 400px;
    width: 260px;*/
   position: relative;
   left: -60px;
    
    }
